@import "../../components/GlobalComponent/GlobalStyle.module.scss";
@import "../../scss/mixin";

.wrapper-btn {
    display: inline-block;
    height: 53px;
    width: 118px;

    .btn-primary {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        border: 1px solid $primary-color;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 2px;

        .title {
            position: relative;
            color: #000;
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
        }

        .small {
            font-size: 1.4rem;
            font-weight: 400;
        }

        .medium {
            font-size: 1.6rem;
            font-weight: 500;
        }

        .large {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    .primary {
        background-color: $primary-color;
        &:hover {
            background-color: transparent;
            border: 1px solid $primary-color;

            .title {
                color: $primary-color;
            }
        }
        &:active {
            background-color: transparent !important;
            border: 1px solid $primary-color !important;

            .title {
                color: $primary-color !important;
            }
        }
    }

    .outline {
        background-color: transparent;
        &:active {
            background-color: $primary-color !important;
            border: 1px solid $primary-color !important;

            .title {
                color: #000 !important;
            }
        }
    }

    .white {
        border: 1px solid #fff;
        .title {
            color: #fff;
        }

        &:hover {
            background-color: $primary-color;
            .title {
                color: #000;
            }
        }
    }
}
