@import "../../scss/mixin";
@import "../../components/GlobalComponent/GlobalStyle.module.scss";

$td-height: 100px;

.background {
    background: url("../../assets/images/bg_4.jpg") no-repeat fixed;
    background-size: cover;

    @include media-breakpoint-xl() {
        padding: 0 10px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
    }

    .table {
        width: 100%;
        max-width: 1200px;
        background-color: transparent;
        margin-top: 50px;
        thead {
            height: 50px;
            @include media-breakpoint-sm() {
                height: 38px;
            }
            padding: 0 30px;
            tr {
                height: 100%;
            }
        }

        tr {
            height: $td-height;

            @include media-breakpoint-sm() {
                height: $td-height - 40px;
            }
            th,
            td {
                text-align: center;
                @include media-breakpoint-sm() {
                    font-size: 1.4rem;
                }
            }
            td {
                display: flex;
                align-items: center;
                img {
                    object-fit: cover;
                    width: $td-height - 30px;
                    &:hover {
                        cursor: pointer;
                    }

                    @include media-breakpoint-sm() {
                        display: none;
                    }
                }

                span {
                    padding-left: 10px;
                    padding-right: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            td:not(:first-child) {
                justify-content: center;
            }
        }

        .cart-select {
            max-width: 180px;
            @include media-breakpoint-sm() {
                height: 36px;
            }
        }

        .btn-remove {
            background-color: transparent;
            border: none;
            outline: none;
            svg {
                font-size: 3rem;
                color: aliceblue;

                @include media-breakpoint-sm() {
                    font-size: 2rem;
                }
            }
        }
    }

    .total-container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .total {
            margin-top: 30px;
            width: 260px;

            @include media-breakpoint-sm() {
                width: 100%;
            }
        }
        margin-bottom: 30px;
    }
}
