@import "../../scss/mixin";
@import "../../components/GlobalComponent/GlobalStyle.module.scss";

.block {
    margin: 10px 0px;
    height: 34px;
    display: flex;
    align-items: center;
}

.title-header {
    font-size: 1.7rem;
    color: #b7903c;
    text-transform: uppercase;
    @include media-breakpoint-sm() {
        font-size: 1.5rem;
    }
}

.title {
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    overflow-y: auto;
    max-height: 75px;
    word-wrap: break-word;
    text-transform: capitalize;
    @include media-breakpoint-sm() {
        font-size: 1.4rem;
    }
}
