@import "../../scss/mixin";
@import "../../components/GlobalComponent/GlobalStyle.module.scss";

.card-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 80px;

    &:hover {
        @for $i from 1 through 2 {
            .button:nth-last-child(#{$i}) {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }

    .test-skeleton {
        height: 246px;
        width: 246px;
    }

    .card-image {
        position: relative;
        padding: 0 40px;
        width: 100%;
        z-index: 10;
        img {
            position: relative;
            width: 100%;
            z-index: 10;
        }

        &::before {
            content: "";
            position: absolute;
            background: url("../../assets/images/yum-black.png");
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            top: -74px;
            min-height: 284px;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: rotate(-22.5deg) scale(0.75);
            -ms-transform: rotate(-22.5deg) scale(0.75);
            transform: rotate(-22.5deg) scale(0.75);
            -webkit-transition: opacity 0.2s ease-in-out,
                -webkit-transform 0.4s ease-in-out;
            -o-transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
            transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
            transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out,
                -webkit-transform 0.4s ease-in-out;
        }

        &:hover {
            cursor: pointer;
        }

        @include media-breakpoint-md() {
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            padding: 0px 10px;
        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
                -webkit-transform: rotate(0deg) scale(1);
                -ms-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
                -webkit-transition: opacity 0.2s ease-in-out,
                    -webkit-transform 0.4s ease-in-out;
                -o-transition: opacity 0.2s ease-in-out,
                    transform 0.4s ease-in-out;
                transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
                transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out,
                    -webkit-transform 0.4s ease-in-out;
            }
        }

        @include media-breakpoint-lg() {
            &:hover {
                &::before {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    .animation-disable {
        &:hover {
            &::before {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .card-name {
        color: $primary-color;
        margin: 25px 0 10px;
    }
    .card-price {
        color: $text-price-color;
        margin: 10px 0 17px;
    }

    .buttons {
        .button {
            height: 47px;
            margin: 0 3px;
            transform: translateY(70px);
            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
            @include media-breakpoint-sm() {
                height: 42px;
            }
        }

        .button + .button {
            transition-delay: 0.05s;
        }

        @include media-breakpoint-lg() {
            display: none;
        }
    }

    .show-button {
        display: none;
    }

    .card-name,
    .card-price,
    .buttons {
        text-align: center;
    }
}
