@import "../../scss/mixin";
@import "../../components/GlobalComponent/GlobalStyle.module.scss";

.background {
    background: url("../../assets/images/bg_4.jpg") no-repeat fixed;
    background-size: cover;
    .wrapper {
        .filter {
            padding: 30px 0px 60px;
            ul {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                li {
                    width: 14.28%;
                    text-align: center;
                    display: inline-block;
                    font-size: 1.6rem;
                    margin-bottom: 30px;
                    @include media-breakpoint-lg() {
                        width: 25%;
                    }

                    @include media-breakpoint-md() {
                        width: 33.33%;
                    }

                    @include media-breakpoint-sm() {
                        font-size: 1.4rem;
                    }
                    span {
                        margin-left: 10px;
                        color: $text-light-color;
                        transition: all 0.2s linear;
                    }

                    img {
                        @include media-breakpoint-sm() {
                            width: 8vw;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        span {
                            color: $primary-color;
                        }
                        img {
                            animation: shake 0.82s
                                cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
                .active {
                    span {
                        color: $primary-color;
                    }
                }
            }
        }

        .list {
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}
