@import "../../scss/mixin";
@import "../../components/GlobalComponent/GlobalStyle.module.scss";

.select-quantity-select {
    display: flex;
    align-items: center;
    border: 2px solid $primary-color-1;
    width: fit-content;
    height: 42px;
    overflow: hidden;
    .input {
        width: 33.33%;
        min-height: 30px;
        height: 100%;
        flex: 1;
        padding: 0 3px;
        font-size: 1.7rem;
        border: none;
        outline: none;
        padding: 0 5px;
        text-align: center;
    }
    .btn-change {
        background-color: $black-color;
        height: 100%;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;

        svg {
            color: $text-smoke-color;
            font-size: 2.1rem;
        }
    }
}
